apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-node-ui-deployment
spec:
  selector:
    matchLabels:
      component: node-ui-service
      version: {{ .Chart.AppVersion }}
      deployment-id:  {{ .Release.Name }}
  replicas: 1
  template:
    metadata:
      labels:
        component: node-ui-service
        version: {{ .Chart.AppVersion }}
        deployment-id:  {{ .Release.Name }}
    spec:
      containers:
        - name: node-ui
          image: ghcr.io/privateaim/node-ui:latest
          imagePullPolicy: Always  # Maybe "Always" during debug
          ports:
            - containerPort: 3000
              name: ui
{{/*          readinessProbe:*/}}
{{/*            initialDelaySeconds: 45*/}}
{{/*            httpGet:*/}}
{{/*              path: /healthz*/}}
{{/*              port: healthcp*/}}
          env:
            - name: NODE_ENV
              value: {{ .Values.env | default "development" | quote }}
            - name: BASE_URL
              value: {{ .Values.url | default "http://localhost:3000" | quote }}
            - name: HUB_ADAPTER_API_URL
              value: {{ .Values.node.adapter | default "http://localhost:5000" | quote }}
            - name: KEYCLOAK_URL
              value: {{ include "ui.keycloak.endpoint" . }}
            - name: KEYCLOAK_REALM
              value: {{ .Values.idp.realm | default "flame" | quote }}
            - name: KEYCLOAK_CLIENT_ID
              value: {{ .Values.idp.clientId | default "node-ui" | quote }}
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "ui.keycloak.secretName" . }}
                  key: {{ include "ui.keycloak.secretKey" . }}
            - name: NUXT_OIDC_TOKEN_KEY
              value: {{ randAlphaNum 32 | b64enc }}
            - name: NUXT_OIDC_SESSION_SECRET
              value: {{ randAlphaNum 48 | quote }}
            - name: NUXT_OIDC_AUTH_SESSION_SECRET
              value: {{ randAlphaNum 48 | quote }} 
{{/*          livenessProbe:*/}}
{{/*            httpGet:*/}}
{{/*              path: /healthz*/}}
{{/*              port: healthcp*/}}
{{/*            failureThreshold: 3*/}}
{{/*            periodSeconds: 60*/}}
{{/*            initialDelaySeconds: 60*/}}
