apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: default
  name:  {{ .Release.Name }}-po-sa
rules:
- apiGroups: ["networking.k8s.io"] # indicates the network API group
  resources: ["networkpolicies"]
  verbs: ["*"]
- apiGroups: ["apps"] # indicates the apps API group
  resources: ["deployments"]
  verbs: ["*"]
- apiGroups: [""] # indicates the core API group
  resources: ["pods", "secrets", "services", "configmaps"]
  verbs: ["*"]
